body {
    background-color: black;
    margin: 0;
    font-family: Verdana;
}


header {
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-size: 50px;
    color: white;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

video {
    display: block;
    margin: auto;
}

header {
    text-align: center;
}

section {
    text-align: center;
}

footer {
    text-align: right;
    color: Gray;
}

p {
    color: Gray;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color:White;
}